html {
    scroll-padding-top: 70px; 
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;
}

h2 {
    color: #B9E5E8;
}

h3 {
    color: #DFF2EB;
}

article h2,article h3 {
    color: #4A628A;
}

footer {
    clear: both;
    padding: 40px;
    color: #B9E5E8;
    background-color: #4A628A;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    color:#4A628A;
}

nav a:hover {
    font-weight: bold;
}

.socialmedia {
    background-color: #7AB2D3;
    text-align: center;
    
}

.foto1 {
    width: 100%;
    max-height: 450px;
    object-fit:cover;
    object-position: center;
    border-radius: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;

    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #4A628A;
    text-align: center;
    color: #B9E5E8;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #7AB2D3;
    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    padding: 20px;
}

#content {
    float: left;
    width: 75%;
    padding-right: 10px;

}

aside {
    float: right;
    width: 25%;
    padding-right: 20px;
    position: sticky;
    top: 60px;
    z-index: 500;

}

header {
    display: inline;
} 

figure a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color:#4A628A;
}

figure a:hover {
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
      }
   .gambardummy {
    width: 100%;
    max-height: 450px;
    object-fit:cover;
    object-position: center;
    border-radius: 5%;
   }
}

